body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.top-bar {
    background-color: white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar-divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.logo {
    width: 450px;
}


.gtacard img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.car-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.car-photo {
    width: 500px; /* Adjust as needed */
    height: auto;
    margin-right: 16px;
}

.car-info {
    flex-grow: 1;
}

.car-name {
    font-size: 24px;
    margin-bottom: 8px;
}

.car-price {
    font-size: 18px;
    margin-bottom: 8px;
}

.car-doors, .car-class {
    font-size: 16px;
    margin-bottom: 8px;
}

#buy-button {
    display: flex;
    justify-content: center; 
    background-color: rgb(231, 3, 3);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Style for the total price and number of cars */
#pricecar1,
#pricecar2 {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 10px;
}

.but1 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.red-dot {
    background-color: red;
    color: white;
    padding: 2px 6px;
    text-align: center;
    border-radius: 100%;
    z-index: 2;
    position: absolute;
    right: 6px;
    top: 18px;
    display: none; /* Initially hide the red dot */
}