body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;

}

.top-bar {
    background-color: white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar-divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
   

}

.gtacard {
    width: calc(33.33% - 20px);
    overflow: hidden;
    margin: 10px;
    position: relative;
    transition: transform 0.3s ease;
}

.gtacard img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

.logo {
    width: 450px;
}

.button-bar {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
}

.button {
    background-color: #df0909;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 350px;
    height: 70px;
}

.button:hover {
    background-color: #a04545;
}


.sortprice:hover {
    background-color: #a04545;
}

.gtacard:hover {
    transform: translateY(-5px);
}
.car-logo {
    width: 1px;
    height: auto;
}

.red-dot {
    background-color: red;
    color: white;
    padding: 2px 6px;
    text-align: center;
    border-radius: 100%;
    z-index: 2;
    position: absolute;
    right: 6px;
    top: 18px;
    display: none; /* Initially hide the red dot */
}

/* Your existing CSS styles */

/* Dropdown button styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: #830303;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
      background-color: #830303;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 350px;
    height: 70px;
}

.dropdown-content button:hover {
    background-color: #a04545;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    background-color: #830303;



}
/* End of your existing CSS styles */

