body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;

}

.top-bar {
    background-color: white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar-divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.logo {
    width: 450px;
}

.buy {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.button {
    border-radius: 100px;
    padding: 10px;
    background-color: red;
    border-color: red;
    color: white;
    width: 200px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}